<div class="mensajeInt" id="danger-alert">
    <div class="alert alert-danger">
        <center>
            <button type="button" class="close" style="color: #FFF; font-weight: 500;" ng-click="closeMessage()">x</button>
            <strong style="display: inline-block;">Error! &nbsp</strong>
            <div style="display: inline-block;" id="text-messageDanger"></div>
        </center>
    </div>
</div>

<div class="mensajeInt" id="success-alert" >
    <div class="alert alert-success">
        <center>
            <button type="button" class="close" style="color: #FFF; font-weight: 500;" ng-click="closeMessage()">x</button>
            <strong style="display: inline-block; font-size: 14px;">Proceso Exitoso! &nbsp</strong>
            <div style="display: inline-block; font-size: 14px;" id="text-messageSucess"></div>
        </center>
    </div>
</div>
