<div class="mensajeInt" id="danger-alert">
    <div class="alert alert-warning" style="color: #FFF !important;">
        <center>
            <button type="button" class="close" style="color: #FFF !important; font-weight: 500; height: auto !important; border: none;" ng-click="closeMessage()">x</button>
            <strong style="display: inline-block; color: #FFF !important;" >Error! &nbsp</strong>
            <div style="display: inline-block;" id="text-messageDanger"></div>
        </center>
    </div>
</div>

<div class="mensajeInt" id="success-alert" >
    <div class="alert alert-success" style="color: #FFF !important;">
        <center>
            <button type="button" class="close" style="color: #FFF !important; font-weight: 500; height: auto !important; border: none;" ng-click="closeMessage()">x</button>
            <strong style="display: inline-block; font-size: 14px; color: #FFF !important;">Proceso Exitoso! &nbsp</strong>
            <div style="display: inline-block; font-size: 14px;" id="text-messageSucess"></div>
        </center>
    </div>
</div>
